section {
    padding-top: 128px;
}

.navbar {
    background-color: white;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.25);
}

.home h1 {
    font-size: 72px;
}

.home h3 {
    font-size: 48px;
}

.home img{
    width: %;
}

@media only screen and (max-width: 768px) {
    .home img {
        width: 100%;
    }

   
}

@media only screen and (max-width: 576px) {
    section::before {
        left: -10px;
        font-size: 64px;
    }
}

