body {
    overflow-x: hidden;
}


/* Navbar Mulai */
.navbar {
    background-color: white;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.25);
}

/* Navbar Selesai */

/* Home Mulai */
.home h1 {
    font-size: 72px;
}

.home h3 {
    font-size: 48px;
}

.nama {
    font-size: 10px;
}

@media only screen and (max-width: 768px) {
    .home {
        padding-top: 50px;
    }

    .home img {
        width: 100%;
    }

    .home h1 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 576px) {
    section::before {
        left: -10px;
        font-size: 64px;
    }

}


/* Home Selesai */

/* About Mulai */

.section-title {
    text-align: center;
}


/* skill mulai */

.name-skil{
    text-align: center;
    font-size: 2vw;
    margin-top: 50px;   
}

@media screen and (max-width: 738px) {
    .name-skil {
        font-size: 3vw;
    }
}

@media screen and (max-width: 580px) {
    .name-skil {
        font-size: 5vw;
    }
}

/* Skill Selesai */

/* Language Mulai */

.Language{
    margin-top: 50px;
}

.container-circle-language{
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-progress-indonesia {
    width: 85px;
    height: 85px;
    border-radius: 100%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(blue 95%, rgb(100, 95, 95) 0);
}


.circle-progress-english {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(blue 5%, rgb(100, 95, 95) 0);
}

/* Language Selesai */

/* Academic Mulai */

.judul-academic {
    text-align: center;
}

.container-academic {
    padding-top: 50px;
}

.academic {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.accordion {
    width: 90%;
}

/* Academic Selesai */

/* About Selesai */

/* Sertifikat Mulai */

.container-sertifikat {
    padding-top: 20px;
}

.judul-sertifikat {
    text-align: center;
}

.sertifikat {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    background: hsl(187 40% 98%);
    padding-top: 50px;
    max-width: 30rem;
}

.img-sertifikat {
    display: block;
    width: 100%;
}

.sertifikat-Judul {
    margin: 0;
    font-size: 1.4rem;
}

@media (min-width: 50em) {
    .sertifikat-Judul {
        font-size: 1.8rem;
    }
}

.cta {
    --shadowColor: 187 60% 40%;
    display: flex;
    flex-wrap: wrap;
    background: hsl(187 70% 85%);
    max-width: 50rem;
    width: 100%;
    box-shadow: 0.65rem 0.65rem 0 hsl(var(--shadowColor) / 1);
    border-radius: 0.8rem;
    overflow: hidden;
    border: 0.5rem solid;
}

.cta img {
    aspect-ratio: 3 / 2;
    object-fit: cover;
    flex: 1 1 300px;
    outline: 0.5rem solid;
}

.cta__text-column {
    padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
    flex: 1 0 50%;
}

.cta__text-column>*+* {
    margin: min(1.5rem, 2.5vw) 0 0 0;
}

@media screen and (max-width: 768px) {
    .container-sertifikat {
        width: 96%;
    }

    .col-12 {
        padding-top: 25px;
    }
}

/* Sertifikat Selesai */

/* Work Mulai */

.container-work {
    padding-top: 50px;
}

.judul-work {
    text-align: center;
    font-size: 45px;
}

.name-work {
    font-size: 32px;
    text-align: center;
    color: black;
}

.blog-wrapper {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.blog-wrapper .blog-card {
    max-width: 300px;
    margin: 15px;
    background: #fff;
    border: 1px solid #CB6074;
    text-align: center;
    cursor: pointer;
}

.blog-wrapper .blog-card:hover {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .1);
}

.blog-wrapper .blog-card .card-img {
    position: relative;
    text-align: center;
    background: #CB6074;
}

.blog-wrapper .blog-card .card-img .img-work {
    max-height: 180px;
    width: 100%;
    border-bottom: 4px solid #CB6074;
}

.blog-wrapper .blog-card .card-img .name-work {
    position: absolute;
    margin: 0;
    font-size: 42px;
    bottom: 15px;
    width: 100%;
    color: black;
    font-family: 'Slabo 27px', serif;
}

.blog-wrapper .blog-card .card-text {
    padding: 30px 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
}

.blog-wrapper .blog-card .read-more {
    display: inline-block;
    width: auto;
    text-align: center;
    text-transform: uppercase;
    background: #CB6074;
    color: #fff;
    padding: 15px;
    margin-bottom: 30px;
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 768px) {
    .container-work {
        width: 100%;
    }
}


/* Work Selesai */

/* Contact Mulai */

.container-contact {
    padding-top: 50px;
}

.judul-contact {
    text-align: center;
}

.container-form {
    width: 50%;
}

@media screen and (max-width: 650px) {
    .container-form {
        width: 90%;
    }
}

/* Contact Selasai */

/* Footer Mulai */

.footer {
    background-color: rgb(3, 3, 39);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 10px 0;
    margin-top: 20px;
}

.footer__title {
    font-size: 2rem;
    margin-bottom: var(--mb-4);
}

.footer__social {
    margin-bottom: var(--mb-4);
}

.footer__icon {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 var(--mb-2);
}

/* Footer Selesai */