body {
    overflow-x: hidden;
}


/* Navbar Mulai */
.navbar {
    background-color: white;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.25);
}

/* Navbar Selesai */

/* Home Mulai */
.home h1 {
    font-size: 72px;
}

.home h3 {
    font-size: 48px;
}

.nama {
    font-size: 10px;
}

@media only screen and (max-width: 768px) {
    .home {
        padding-top: 50px;
    }

    .home img {
        width: 100%;
    }

    .home h1 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 576px) {
    section::before {
        left: -10px;
        font-size: 64px;
    }

}


/* Home Selesai */

/* About Mulai */

.section-title {
    text-align: center;
}


/* skill mulai */

.skills {
    margin: 50px;
}

.name-skil {
    text-align: center;
    font-size: 2vw;
    margin-top: 50px;
}

@media screen and (max-width: 738px) {
    .name-skil {
        font-size: 3vw;
    }
}

@media screen and (max-width: 580px) {
    .name-skil {
        font-size: 5vw;
    }
}

/* Skill Selesai */

/* Language Mulai */

.Language {
    margin-top: 50px;
}

.container-circle-language {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-progress-indonesia {
    width: 85px;
    height: 85px;
    border-radius: 100%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(blue 95%, rgb(100, 95, 95) 0);
}


.circle-progress-english {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(blue 5%, rgb(100, 95, 95) 0);
}

/* Language Selesai */

/* Academic Mulai */

.judul-academic {
    text-align: center;
}

.container-academic {
    padding-top: 50px;
}

.academic {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.accordion {
    width: 90%;
}

/* Academic Selesai */

/* About Selesai */

/* work mulai */

.container-work {
    margin: 50px;
    font-size: 45px;
}

.container-work h1 {
    text-align: center;
}

.timeline-body p {
    font-size: 15px;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 1px;
    background-color: #d4d4d4;
    left: 50%;
    margin-left: 0px;
}

@media screen and (max-width: 480px) {
    .timeline:before {
        margin-left: -64px;
    }
}

.timeline>li {
    margin-bottom: 20px;
    position: relative;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li>.timeline-panel {
    width: 40%;
    float: left;
    border: 1px solid #d4d4d4;
    padding: 30px;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.timeline>li>.timeline-panel:before {
    position: absolute;
    top: 80px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline>li>.timeline-panel:after {
    position: absolute;
    top: 81px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

@media screen and (max-width: 480px) {
    .timeline>li>.timeline-panel {
        width: 75% !important;
    }

    .timeline>li>.timeline-panel:before {
        top: 30px;
    }

    .timeline>li>.timeline-panel:after {
        top: 31px;
    }
}

.timeline>li>.timeline-badge {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
    width: 160px;
    height: 160px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -80px;
    background-color: #999999;
    z-index: 100;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

@media screen and (max-width: 480px) {
    .timeline>li>.timeline-badge {
        width: 60px;
        height: 60px;
        margin-left: -20px !important;
    }
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-title {
    margin-top: 0;
}

.date {
    display: block;
    margin-bottom: 20px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.timeline-body>p,
.timeline-body>ul {
    margin-bottom: 0;
}

.timeline-body>p+p {
    margin-top: 5px;
}

@media (max-width: 992px) {
    ul.timeline:before {
        left: 90px;
    }

    ul.timeline>li>.timeline-panel {
        width: calc(100% - 200px);
        width: -moz-calc(100% - 200px);
        width: -webkit-calc(100% - 200px);
    }

    ul.timeline>li>.timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline>li>.timeline-panel {
        float: right;
    }

    ul.timeline>li>.timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline>li>.timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}


/* work seleai */

/* project Mulai */

.container-project {
    padding-top: 50px;
}

.judul-project {
    text-align: center;
    font-size: 45px;
}

.name-project {
    font-size: 32px;
    text-align: center;
    color: black;
}

.blog-wrapper {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.blog-wrapper .blog-card {
    max-width: 400px;
    margin: 15px;
    background: #fff;
    border: 1px solid #CB6074;
    text-align: center;
    cursor: pointer;
}

.blog-wrapper .blog-card:hover {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .1);
}

.blog-wrapper .blog-card .card-img {
    position: relative;
    text-align: center;
    background: #CB6074;
}

.blog-wrapper .blog-card .card-img .img-work {
    max-height: 180px;
    width: 100%;
    border-bottom: 4px solid #CB6074;
}

.blog-wrapper .blog-card .card-img .name-work {
    position: absolute;
    margin: 0;
    font-size: 42px;
    bottom: 15px;
    width: 100%;
    color: black;
    font-family: 'Slabo 27px', serif;
}

.blog-wrapper .blog-card .card-text {
    padding: 30px 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
}



a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 768px) {
    .container-project {
        width: 100%;
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

/* project Selesai */

/* Sertifikat Mulai */

.container-sertifikat {
    padding-top: 20px;
}

.judul-sertifikat {
    text-align: center;
}

.sertifikat {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    background: hsl(187 40% 98%);
    padding-top: 50px;
    max-width: 30rem;
}

.img-sertifikat {
    display: block;
    width: 100%;
    object-fit: contain;
}

.sertifikat-Judul {
    margin: 0;
    font-size: 1.4rem;
}

@media (min-width: 50em) {
    .sertifikat-Judul {
        font-size: 1.8rem;
    }
}

.cta {
    --shadowColor: 187 60% 40%;
    display: flex;
    flex-wrap: wrap;
    background: hsl(187 70% 85%);
    max-width: 50rem;
    width: 100%;
    box-shadow: 0.65rem 0.65rem 0 hsl(var(--shadowColor) / 1);
    border-radius: 0.8rem;
    overflow: hidden;
    border: 0.5rem solid;
}

.cta img {
    aspect-ratio: 3 / 2;
    object-fit: cover;
    flex: 1 1 300px;
    outline: 0.5rem solid;
}

.cta__text-column {
    padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
    flex: 1 0 50%;
}

.cta__text-column>*+* {
    margin: min(1.5rem, 2.5vw) 0 0 0;
}

@media screen and (max-width: 768px) {
    .container-sertifikat {
        width: 96%;
    }

    .col-12 {
        padding-top: 25px;
    }
}

/* Sertifikat Selesai */

/* Contact Mulai */

.container-contact {
    padding-top: 50px;
}

.judul-contact {
    text-align: center;
}

.container-form {
    width: 50%;
}

@media screen and (max-width: 650px) {
    .container-form {
        width: 90%;
    }
}

/* Contact Selasai */

/* Footer Mulai */

.footer {
    background-color: rgb(3, 3, 39);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 10px 0;
    margin-top: 20px;
}

.footer__title {
    font-size: 2rem;
    margin-bottom: var(--mb-4);
}

.footer__social {
    margin-bottom: var(--mb-4);
}

.footer__icon {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 var(--mb-2);
}

/* Footer Selesai */